html {
  min-height: 100%;
}

body {
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  font-family: 'Nunito';
}

h1 {
  text-align: center;
  padding: 30px;
  color: wheat;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Nunito';
}

label {
  color: wheat;
}